{% extends "base/base.html" %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<form class="login-box" method="POST">
        {% csrf_token %}
        <h1>Register</h1>

        {% if register_form.errors %}
            {% for field in register_form %}
                {% if field.errors %}
                    <div>
                        <p>
                            {{ field.label }}: {{ field.errors|striptags }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {{register_form.as_p}}

        <button >Register</button>
    </form>
{% endblock %}